#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

h1 {
  margin: 5px 0;
}

.hidden {
  display: none;
}

.circle-wrapper {
  width:301px;
  height:301px;
  border-radius:50%;
  background: conic-gradient(purple 90deg, #386394 90deg 180deg, green 180deg 270deg, red 270deg);
  position:relative;
  display: inline-grid;
  place-content: center;
  margin: 10px 0;
}

.circle {
  position:absolute;
  top:51%;
  left:51%;
  width:50px;
  height:50px;
  margin:-38.5px;
  border-radius:51%;
  /* text-align:left; */
  /* line-height:50px; */
  /* display: flex; */
}

.avatar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 10vh;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}

.animal-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.player-name {
  margin-top: 10px;
}

.animal-token {
  background: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.black-widow {
  background: #386394;
  border-radius: 50%
}

.poison-dart-frog {
  background: purple;
  border-radius: 50%
}

.komodo-dragon {
  background: red;
  border-radius: 50%
}

.king-cobra {
  background: green;
  border-radius: 50%
}




.deg-45 {
  transform:rotate(46deg) translate(100px) rotate(-46deg);
}

.deg-135 {
  transform:rotate(136deg) translate(100px) rotate(-136deg);
}

.deg-225 {
  transform:rotate(226deg) translate(100px) rotate(-226deg);
}

.deg-315 {
  transform:rotate(316deg) translate(100px) rotate(-316deg);
}