#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

.hidden {
  display: none;
}

.circle-wrapper {
  width:301px;
  height:301px;
  border-radius:50%;
  background: conic-gradient(purple 90deg, #386394 90deg 180deg, green 180deg 270deg, red 270deg);
  position:relative;
  display: inline-grid;
  place-content: center;
}

.circle {
  display:block;
  position:absolute;
  top:51%;
  left:51%;
  width:50px;
  height:50px;
  margin:-25.5px;
  border-radius:51%;
  text-align:left;
  line-height:50px;
  display: flex;
}

.avatar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 10vh;
  justify-content: center;
  gap: 10vw;
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.player-name {
  margin-top: 10px;
}

.animal-token {
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  padding: 10px;
}


.deg-45 {
  transform:rotate(46deg) translate(100px) rotate(-46deg);
}

.deg-135 {
  transform:rotate(136deg) translate(100px) rotate(-136deg);
}

.deg-225 {
  transform:rotate(226deg) translate(100px) rotate(-226deg);
}

.deg-315 {
  transform:rotate(316deg) translate(100px) rotate(-316deg);
}