#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  --kissee-angle: 0;
}

h1 {
  margin: 5px 0;
  font-family: 'Eater', cursive;
  color: #aac945;
  background: #565a2f;
  border-radius: 5px;
}

.spin-bottle-button {
  width: 50px;
  height: 80px;
  background: center / contain no-repeat url("./assets/bottle-green.png") #f0f0f0 ;
  border: #f0f0f0 solid 10px;
  outline: solid black 1px;
  transition: none;
}

.spin-bottle-button:hover {
border: #d1d1d1 solid 10px;
background: center / contain no-repeat url("./assets/bottle-green.png") #d1d1d1;
outline: solid black 1px;
}

.bottle-paragraph {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.arrow-wrapper.hidden {
  display: none;
}

.circle-wrapper {
  width: 276px;
  height:276px;
  border-radius:50%;
  background: conic-gradient(#948d02 90deg, #386394 90deg 180deg, green 180deg 270deg, #843737 270deg);
  position:relative;
  display: inline-grid;
  place-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
  align-self: center;
}

.circle {
  position:absolute;
  top:51%;
  left:51%;
  width:50px;
  height:50px;
  margin:-38.5px;
  border-radius:51%;
  /* text-align:left; */
  /* line-height:50px; */
  /* display: flex; */
}

.avatar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 10vh;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 20px;
  margin-top: 25px;
  align-self: center;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}

.animal-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.dead {
  display: none;
}

.skull {
  font-size: 2.5rem;
}

.player-name {
  margin-top: 10px;
  font-size: .8rem;
}

.arrow-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 1vh;
  justify-content: center;
  gap: 10vw;
  align-self: center;
  margin-bottom: 5px;
  min-width: 300px;
}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}

.animal-token {
  background: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.black-widow {
  background: #386394;

}

.poison-dart-frog {
  background: #948d02;

}

.komodo-dragon {
  background: #843737;

}

.king-cobra {
  background: green;

}

.deg-45 {
  transform:rotate(46deg) translate(85px) rotate(-46deg);
}

.deg-135 {
  transform:rotate(136deg) translate(85px) rotate(-136deg);
}

.deg-225 {
  transform:rotate(226deg) translate(85px) rotate(-226deg);
}

.deg-315 {
  transform:rotate(316deg) translate(85px) rotate(-316deg);
}

.animal-button {
  width: 50px;
  height: 50px;
  border: none;
  display: block;
}

.animal-button:focus, 
.animal-button:focus-visible {
  outline: none;
}

.animal-button.black-widow {
  background: center / contain no-repeat url("./assets/black-widow.png") white;
}

.animal-button.black-widow:disabled {
  background: #386394;
}

.animal-button.poison-dart-frog {
  background: center / contain no-repeat url("./assets/poison-dart-frog.png") white;
}

.animal-button.poison-dart-frog:disabled {
  background: #948d02;
}

.animal-button.komodo-dragon {
  background: center / contain no-repeat url("./assets/komodo-dragon.png") white;
}

.animal-button.komodo-dragon:disabled {
  background: #843737;
}

.animal-button.king-cobra {
  background: center / contain no-repeat url("./assets/king-cobra.png") white;
}

.animal-button.king-cobra:disabled {
  background: green;
}


#disabled-button-div-black-widow {
  background: #386394;

}

#disabled-button-div-poison-dart-frog {
  background: #948d02;

}

#disabled-button-div-komodo-dragon {
  background: #843737;

}

#disabled-button-div-king-cobra {
  background: green;
}

.hidden.circle-wrapper {
  display: none;
}

.bottle-wrapper {
  position: absolute;
  top: 28%;
  left: 47%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.bottle {
  height: 70px;
}

.bottle-spinning {
  transition: transform 3000ms ease-in-out;
  transform: rotate(14400deg)
}

.rotate-45-deg {
  transform: rotate(10000deg)
}

.rotate-135-deg {
  transform: rotate(135deg)

}

.rotate-225-deg {
  transform: rotate(225deg)

}

.rotate-315-deg {
  transform: rotate(315deg)

}