:root {
  background-color: #e1f797;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'PT Serif', serif;
}

button {
  border-radius: 5px;
  width: fit-content;
  border: 1px solid black;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
  outline: none;
}
button:hover {
  background: #d2d2d2;
}

button:focus, button:focus-visible {
  outline: 1px #565a2f solid;
}
